<% include ../partials/header %>

<div class="ui main text container segment raised">
    <h1>
        <div class="ui middle center aligned header main"><i class="list layout icon"></i>Client List</div>
        <hr>
    </h1>
    <h4>
        <div class="ui center aligned header">Sorted by ID</div>
    </h4>
    <% clients.forEach(function(client){ %>
        <li class="ui link list">
            <a href="/clients/<%=client._id%>" class="ui item"><%=client.firstName %> <%=client.lastName %> ID: <%=client._id%></a>
            <hr class="hrStyleSep">
        </li>
    <% }); %>
    <div class="spacer">
        <a href="/" class="ui button small blue">Go Back</a>
        <a href="/clients/new" class="right floated ui button small">Add Another Client</a>
    </div>

</div>

<% include ../partials/footer %>