<% include ../partials/header %>


<div class="ui main text container segment raised">
    <div class="ui main header huge">
        Search Results
    </div>
    <hr>
    <% if(clients[0] === undefined){ %>
        <h1 class="ui huge header red">Client was not found!</h1>  
    <% } else { %>
        <% clients.forEach(function(client){ %>
            <div class="ui content">
                <li class="ui link list">
                    <a class="spacer ui item" href="/clients/<%= client._id %>/"><%= client.firstName %> <%= client.lastName %></a>
                    <hr class="hrStyleSep">
                </li>
        <% }); %>
    <% } %>
                <div class="ui right aligned">
                    <a href="/clients/searchByName" class="ui button red">Go Back</a>
                </div>
            </div>
</div>

<% include ../partials/header %>