<% include ../partials/header %>


<div class="ui main text container segment raised">
    <div class="ui main header huge">
        Search Results
    </div>
    <hr>
        <div class="ui content">
            <li class="spacer ui link list">
                <a class="ui item" href="/clients/<%= client._id %>/"><%= client.firstName %> <%= client.lastName %></a>
                <hr class="hrStyleSep">
            </li>
            <div class="ui right aligned">
                <a href="/clients/searchById" class="ui button red">Go Back</a>
            </div>
        </div>
</div>



<% include ../partials/header %>