<% include ./partials/header %>

<div class="spacer ui middle aligned center aligned grid">
    <div class="ui divided items segment center aligned eight wide column">
            <h1 class="ui centered black header">
                <div><i class="users icon"></i>Client Portal</div>
            </h1>
                <div class="ui two wide column">
                        <a class="block spacer ui blue inverted button massive" href="/clients">Client List</a>
                        <a class="block spacer ui blue inverted button massive" href="/clients/searchByName">Find client by name</a>
                        <a class="block spacer ui blue inverted button massive" href="/clients/searchById">Find client by ID</a>
                        <a class="block spacer ui blue button massive" href="/clients/new">Add Client</a>
                </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>