<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui header huge">
        Search by Client ID
    </div>
    <form class="ui form" action="/clients/resultsID" method="POST">
        <div class="ui field">
            <input type="text" name="client[_id]" placeholder="Client ID" required>
        </div>
        <a class="ui button red" href="/">Go Back</a>
        <button class="ui button blue right floated">Search!</button>
    </form>
</div>



<% include ./partials/footer %>